:root{
  --cor-background-loader: #F6F6F6;
  --cor-loader: #3049FF;
  --cor: #000;

  --bckg-default: #F6F6F6;
  --bb-color-hgroup-confirmacao-cca: #D3D3D3;

  --bckg-card-link-facil-hover: #0000000D;

  /* Botão transparente */
  --cor-txt-btn-transparent: #000;
  --cor-txt-btn-transparent-hover: #000;
  --cor-borda-btn-transparent: #00000066;
  --cor-borda-btn-transparent-hover: #00000080;

  /* Botão cópia flutuante */
  --cor-borda-btn-copia-flutuante: #808080;
  --cor-bckg-btn-copia-flutuante: #D3D3D3;

  /* Alert info */
  --cor-borda-alert-info: #00000040;

  /* Container fluid */
  --cor-borda-container-fluid: #0000001A;
  --cor-bckg-container-fluid: #00000003;

  /* Navbar */
  --cor-bckg-navbar: #0D6EFD;
  --cor-bckg-navbar-brand: #0D6EFD;

  /* Seção controlada */
  --cor-bckg-header-secao-controlada: #0000000D;

  /* Banner */
  --bckg-color-banner: #ECF885;
  --bckg-icon-banner-desc: #EFF77C;
  --cor-banner: initial;
  --cor-borda-banner-desc: #00000080;

  /* Form */
  /* TODO - separar cores do formulário */
  --cor-btn-outline-success: #008000;
  --cor-btn-outline-danger: #FF0000;
  --cor-borda-invalid-input: #FF000026;
  --cor-box-shadow-invalid-input: #FF8E8E66;
  --cor-invalido-feedback-dado: #FF0000;

  /* Form Pesquisa */
  --cor-border-button-form-pesquisa: #CED1DD;
  --cor-bckg-button-form-pesquisa: #DEE2E6;
  --cor-button-form-pesquisa: initial;

  /* Seleção múltiplas opções */
  --bckg-color-btn-selec-mult: #007BFF;
  --bckg-color-btn-selec-mult-hover: #006ADC;
  --color-btn-selec-mult: #FFF;
  --color-btn-selec-mult-hover: #FFF;

  /* Loader */
  --cor-borda-spinner: #00000026;
  --cor-borda-spinner-right: #2631FF;

  /* No script */
  --bckg-color-box-no-script: #FFF;
  --border-color-box-no-script: #000;
  --border-color-btn-principal-no-script: #CCC;
  --bckg-color-btn-principal-no-script-hover: #DDD;
  --border-color-btn-principal-no-script-hover: #BBB;
  --border-color-texto-pagina-centralizado: #000;

  /* Modal informações página */
  /* TODO - finalizar separaração de cores do modal */
  --cor-borda-modal-informacoes-pagina: #00000033;
  --cor-modal-informacoes-pagina: #000;
  --cor-modal-informacoes-pagina-backdrop: #0000008C;
  --cor-bckg-kbd: #D2D2D2;
  --cor-bckg-x: #F7F7F7;
  --cor-borda-x: #CCC;
  --cor-txt-x: #333;
  --cor-txt-shadow-x: #FFF;
  --box-shadow-x: 0 1px 0 #00000033, 0 0 0 2px #FFF inset;

  /* Consulta Arquivos Links */
  /* TODO - Adicionar */
  --bb-color-card-links: #0000001A;
  --bckg-color-card-links: #F6F6F6;
  --border-color-card-links: #0000000D;
  --bckg-color-content-card-links: #F2F2F2;
  --border-color-content-card-links: #00000080;
  --color-content-tag-card-links: #00000080;
  --color-content-principal-card-links: #00000099;
  --color-content-principal-h5-card-links: #000;
  --color-content-principal-span-card-links: #000;
  --color-span-card-links: #00000099;
}