.banner{
  /* background: url(../../img/banner-post.svg) center / cover no-repeat; */
  background: var(--bckg-color-banner);
  color: var(--cor-banner);
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .banner-desc{
    border: 1px dashed var(--cor-borda-banner-desc); 
    padding: 1rem; border-radius: 5px;
    position: relative;
    margin-left: 0.125rem;
    margin-right: 0.5rem;
    color: var(--cor-banner);

    *{
      color: var(--cor-banner);
    }

    .text-muted{
      color: var(--bs-secondary) !important;
    }

    &::before{
      position: absolute;
      top: calc(37.5%);
      left: -0.5rem;
      font-family: "bootstrap-icons";
      content: "\F504";
      background-color: var(--bckg-icon-banner-desc);
    }
  }
}

@media screen and (width <= 575px) {
  .banner{
    flex-direction: column;
    place-content: flex-start;
    place-items: flex-start;

    .banner-desc{
      text-wrap: balance;
    }

    .btn-transparent{
      margin-top: 1rem;
      text-align: left;
    }
  }
}