.titulo-consultas:not(:first-child),
.titulo-arquivos:not(:first-child){
  margin-top: 1rem;
}

.titulo-consultas,
.titulo-arquivos{
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

[data-content="area-consultas"] .consultas,
[data-content="area-arquivos"] .arquivos,
[data-content="area-links"] .links{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem 1rem;
}

.consultas:not(:last-child),
.arquivos:not(:last-child){
  border-bottom: 1px solid var(--bb-color-card-links);
  padding-bottom: 1.25rem;
}

.content{
  border-radius: 5px;
  background-color: var(--bckg-color-card-links);
  border-radius: 5px;
  border: 1px solid var(--border-color-card-links);
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.content:is(:focus, :hover){
  border-color: var(--border-color-content-card-links);
  background-color: var(--bckg-color-content-card-links);
}

.content .content-tag{
  color: var(--color-content-tag-card-links);
}

.content .content-principal h5{
  font-weight: 600;
}

.content .content-principal span{
  margin-top: 0.25rem;
  display: inline-block;
}

.content .content-principal span{
  color: var(--color-span-card-links);
}

@media screen and (max-width: 767px) {
  [data-content="area-links"] .links,
  [data-content="area-consultas"] .consultas,
  [data-content="area-arquivos"] .arquivos{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 285px) {
  [data-content="area-links"] .links,
  [data-content="area-consultas"] .consultas,
  [data-content="area-arquivos"] .arquivos{
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}