.links-faceis-confirmacao [data-element="area-content"]{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1rem), 1fr));
  grid-gap: 1rem;
}

@media screen and (width <= 768px) {
  .links-faceis-confirmacao [data-element="area-content"]{
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 3fr));
  }
}

@media screen and (width <= 450px) {
  .links-faceis-confirmacao [data-element="area-content"]{
    grid-template-columns: repeat(auto-fill, 100%);
  }
}

.links-faceis-confirmacao .card{
  display: inline-block;
  background-color: transparent;
  transition: 0.2s background ease-in-out;
}

.links-faceis-confirmacao .card:hover{
  background-color: var(--bckg-card-link-facil-hover);
}

.links-faceis-confirmacao .card .card-header{
  background-color: transparent;
  transition: 0.2s background ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}