.modal-informacoes-pagina{
  border: 1px solid var(--cor-borda-modal-informacoes-pagina);
  border-radius: 5px;
  width: min(calc(100vw - 1rem), 500px);
  z-index: 1000;
  color: var(--cor-modal-informacoes-pagina);
  outline: unset;
}

.modal-informacoes-pagina::backdrop{
  background-color: #0000008C;
}

kbd{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font-size: 100%;
  font-family: 'Consolas', monospace, sans-serif;
  vertical-align: baseline;
  background: transparent;
  border-color: #E6E6E6 #BEBEBE #BEBEBE #E6E6E6;
  border-style: solid;
  border-width: 1px 3px 4px;
  padding: 0 5px;
  background-color: #D2D2D2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.x{
  -moz-border-radius: 3px;
  -moz-box-shadow: var(--box-shadow-x);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: var(--box-shadow-x);
  background-color: var(--cor-bckg-x);
  border: 1px solid var(--cor-borda-x);
  border-radius: 3px;
  box-shadow: var(--box-shadow-x);
  color: var(--cor-txt-x);
  display: inline-block;
  font-family: monospace, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 var(--cor-txt-shadow-x);
}