[data-content="secao-controlada"]{
  >.card-header{
    cursor: pointer;
    border-bottom: unset;

    .span{
      display: none;
    }

    &:hover{
      background-color: var(--cor-bckg-header-secao-controlada);

      .span{
        display: block;
      }
    }
  }
}