/* Página INDEX de desligamento */
[data-content="form-laudo"]{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(calc(50% - 0.5rem), 1fr));
  
  .forms-groups{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

a{
  .seta{
    transition: margin ease-in-out 0.3s;
  }
  
  &:hover{
    .seta{
      margin-left: 0.25rem;
    }
  }
}

.banner{
  border-radius: 0;
  background: url(../../img/banner-post.webp) center / cover no-repeat;
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .banner-desc{
    border: 1px dashed #00000050; padding: 1rem; border-radius: 5px;
    position: relative;
    margin-right: 0.5rem;

    &::before{
      position: absolute;
      top: calc(37.5%);
      left: -0.5rem;
      font-family: "bootstrap-icons";
      content: "\F504";
      background-color: #EFF77C;
      border-radius: 5px;
    }
  }
}

@media screen and (width <= 575px) {
  [data-content="form-laudo"]{
    grid-template-columns: repeat(1, minmax(calc(100% - 0.5rem), 1fr));
  }

  .banner{
    flex-direction: column;
    place-content: flex-start;
    place-items: flex-start;

    .banner-desc{
      text-wrap: balance;
    }

    .btn-transparent{
      margin-top: 1rem;
      text-align: left;
    }
  }
}